@import "tailwindcss";

@theme {
  --color-background: #050505;
  --color-foreground: #FAFAFA;
  --color-accent: #00FF9D;
  --color-surface: #121212;
  --color-surface-light: #1E1E1E;
}

body {
  @apply bg-background text-foreground antialiased selection:bg-accent selection:text-black overflow-x-hidden;
}

@utility text-gradient {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-white via-white to-neutral-500;
}